body{
  padding: 0;
  margin: 0;
  background: #111;
  color: #111;
  text-transform: uppercase;
  font-size: 1.5vh;
}

.fa {
   font-size: 2vh;
   vertical-align: middle;
}

#game {
  margin: 0;
  padding: 0;
  padding-top: 10vh;
  height: auto;
  width: 100%;
}

#board {
  padding: 0;
  margin: auto;
  width: 66vh;
  height: 66vh;
}

.square {
  padding: 0;
  margin: 0.4vh;
  height: 8vh;
  width: 8vh;
  line-height: 8vh;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  float: left;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.button{
  padding: 0;
  margin: 0.5vh;
  height: 5vh;
  width: 32vh;
  line-height: 5vh;
  vertical-align: middle;

  background: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  float: left;
}

.status{
  padding: 0;
  margin: 2vh;
  height: 5ch;
  width: 29vh;
  text-align: center;
  color: #FFF;
}
